<nav>
    <a routerLink="/" class="title">
      Angular Signals Demo
    </a>
    <div>
      <a href="/signal/input" style="color: white;">Input</a>
      <a href="/signal/output" style="color: white;">Output</a>
      <a href="/signal/model" style="color: white;">Model</a>
      <a href="/signal/viewchild" style="color: white;">ViewChild</a>
      <a href="/signal/link-signal" style="color: white;">LinkSignal</a>
      <a href="/signal/resource" style="color: white;">Resource</a>
      <a href="/signal/rx-resource" style="color: white;">RxResource</a>
      <a href="/signal/http-resource" style="color: white;">HttpResource</a>
    </div>
</nav>

<router-outlet />
